<div class="container chat">
  <h1>Your chat with <%= @chat.profile.name %></h1>

  <div id="messages" class="messages">
    <h2>Messages</h2>
    <% @chat.messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <% if message.created_at.present? %>
            <strong><%= message.user.first_name %></strong>
            <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
          <% else %>
            <i>Unknown date</i>
          <% end %>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
    <%= render 'messages/form', chat: @chat %>
  </div>
</div>
